In [1]:
#Φέρνουμε τη βιβλιοθήκη numpy και την ονομάζουμε np
import numpy as np

#Φέρνουμε τη βιβλιοθήκη pandas και την ονομάζουμε pd
import pandas as pd

In [22]:
#Φορτώνουμε τα δεδομένα του αρχείου True.csv στη μεταβλητή "true"
fake = pd.read_csv("Fake.csv")

fake["to"] = fake['title'].str.count("to ")
fake["in"] = fake['title'].str.count("in ")
fake["on"] = fake['title'].str.count("on ")
fake["On"] = fake['title'].str.count("On ")
fake["with"] = fake['title'].str.count("with ")
fake["THE"] = fake['title'].str.count("THE ")

fake['target'] = 0

fake['Validity'] = "fake"

#Εμφανίζουμε τις πέντε πρώτες γραμμές των δεδομένων μας
fake.head()

,title,text,subject,date,to,in,on,On,with,THE,target,Validity
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0,0,0,0,0,0,0,fake
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0,0,1,0,0,0,0,fake
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0,0,0,0,0,0,0,fake
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1,0,0,0,0,0,0,fake
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0,0,0,0,0,0,0,fake

In [23]:
#Φορτώνουμε τα δεδομένα του αρχείου True.csv στη μεταβλητή "true"
true = pd.read_csv("True.csv")

true["to"] = true['title'].str.count("to ")
true["in"] = true['title'].str.count("in ")
true["on"] = true['title'].str.count("on ")
true["On"] = true['title'].str.count("On ")
true["with"] = true['title'].str.count("with ")
true["THE"] = true['title'].str.count("THE ")


true['target'] = 1

true['Validity'] = "true"

#Εμφανίζουμε τις πέντε πρώτες γραμμές των δεδομένων μας
true.head()

,title,text,subject,date,to,in,on,On,with,THE,target,Validity
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0,0,0,0,0,0,1,true
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1,0,1,0,0,0,1,true
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0,0,0,0,0,0,1,true
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0,0,0,0,0,0,1,true
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1,0,1,0,0,0,1,true

In [24]:
frames = [true, fake]

result = pd.concat(frames)

result.drop('text', axis='columns', inplace=True)
result.drop('subject', axis='columns', inplace=True)
result.drop('date', axis='columns', inplace=True)
result.drop('title', axis='columns', inplace=True)

result.tail(20)

       to  in  on  On  with  THE  target Validity
23461   0   1   0   0     0    0       0     fake
23462   0   0   1   0     0    0       0     fake
23463   0   0   0   0     0    0       0     fake
23464   0   0   0   0     1    0       0     fake
23465   0   1   1   0     0    0       0     fake
23466   1   0   1   0     0    0       0     fake
23467   0   1   1   0     0    0       0     fake
23468   0   0   4   0     0    0       0     fake
23469   0   0   0   0     0    0       0     fake
23470   0   1   1   0     0    0       0     fake
23471   1   1   0   0     0    0       0     fake
23472   0   0   0   0     0    0       0     fake
23473   1   0   0   0     0    0       0     fake
23474   0   0   0   0     0    0       0     fake
23475   0   0   0   0     0    0       0     fake
23476   0   1   0   0     0    0       0     fake
23477   0   0   0   0     0    0       0     fake
23478   1   1   0   0     0    0       0     fake
23479   1   0   0   0     0    0       0     fake
23480   0   0   1   0     0    0       0     fake

In [25]:
result_feat = pd.DataFrame(result.drop(result.columns[[6,7]], axis=1))

In [26]:
result_feat.head()

   to  in  on  On  with  THE
0   0   0   0   0     0    0
1   1   0   1   0     0    0
2   0   0   0   0     0    0
3   0   0   0   0     0    0
4   1   0   1   0     0    0

In [27]:
result['target'].head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(result_feat,result['target'],
                                                    test_size=0.30)

In [30]:
#pip install xgboost
#or
#conda install -c conda-forge xgboost

from xgboost import XGBClassifier

In [31]:
#adb = AdaBoostClassifier(n_estimators=100, random_state=0)

xgb = XGBClassifier(n_estimators=100, random_state=0)

In [32]:
xgb.fit(X_train,y_train)

C:\Users\Manos\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[20:30:16] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=16, num_parallel_tree=1,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', use_label_encoder=True,
              validate_parameters=1, verbosity=None)

In [33]:
pred = xgb.predict(X_test)

C:\Users\Manos\anaconda3\lib\site-packages\xgboost\data.py:114: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  "because it will generate extra copies and increase " +

In [34]:
"""evaluate predictions"""

predictions = [round(value) for value in pred]

from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, predictions)

#print(accuracy)


print(f"Accuracy: {accuracy * 100.0}%")

Accuracy: 73.78619153674832%

In [42]:
#data = [{'title':'Three things to watch as Joe Biden meets Vladimir Putin'}]

data = [{'title':'Israel strikes in Gaza after fire balloons launched'}]

df = pd.DataFrame(data)

df["to"] = df['title'].str.count("to ")
df["in"] = df['title'].str.count("in ")
df["on"] = df['title'].str.count("on ")
df["On"] = df['title'].str.count("On ")
df["with"] = df['title'].str.count("with ")
df["THE"] = df['title'].str.count("THE ")
df.drop('title', axis='columns', inplace=True)

print(df)

   to  in  on  On  with  THE
0   0   1   0   0     0    0

In [43]:
pred = xgb.predict(df)

print(pred)

[1]